<p>Add Hashtags or @ mentions to your Title and we will add them when tweet on @GolangFlow</p>
<p>Defaults are #golang, #programming</p>
<%= f.InputTag("Title") %>
<%= f.TextArea("Content", {rows: 10, input: "value"}) %>
<br />
<h3 class="section">Post Preview</h3>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<p class="section double-padded" id="content-preview"></p>



<%= if (current_user) { %>
<button class="btn btn-success" role="submit">Save</button>
<% } else { %>
<button class="btn btn-error" onclick="location.href='/auth/github'">Authenticate with GitHub</button>
<% } %>