<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Golang Flow</title>
  <%= stylesheetTag("application.css") %>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101925146-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid" id="navfluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="/">Golang Flow</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/posts/new" class="fa fa-plus"> Submit</a></li>
            <li><a href="https://twitter.com/golangflow" class="fa fa-twitter"> Twitter</a></li>
            <li><a href="https://github.com/bscott/golangflow" class="fa fa-github"> Github - Contribute</a></li>
            <li>
              <a href="/rss" class="fa fa-rss">
                RSS
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= if (current_user) { %>
              <li><a href="/posts" class="fa fa-user-circle"> My Posts</a></li>
              <li><a href="/auth" data-method="DELETE" class="fa fa-github"> Logout</a></li>
            <% } else { %>
              <li><a href="/auth/github" class="fa fa-github"> Login</a></li>
            <% } %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <br />
    <%= partial("flash.html") %>
      <center>
        <div class="card fluid">
          <div class="section">
            <h3>Go Community Linklog</h3>
            <p>Made a library? Written a blog post? Found a useful tutorial? Share it with the Go community here or just enjoy what everyone else has found!</p>
          </div>
        </div>
      </center>
      <br />

      <%= yield %>
      <center>
        <footer>
          <div class="container" </div>
            <p>2017 - Created by <a href="https://www.twitter.com/brainscott">Brian Scott</a>, Inspired by <a href="http://www.rubyflow.com/">RubyFlow</a> | Powered by <a href="http://gobuffalo.io/">Buffalo</a> | Hosted on <a href="http://www.heroku.com/">Heroku</a></p>
            <p><a href="mailto:feedback@golangflow.io">Feedback</a> | <a href="/privacy">Terms & Privacy Policy</a>
          </div>
        </footer>
      </center>
    </div>
  <br />

  <%= javascriptTag("application.js") %>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59cc8bbb05397177"></script> 
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '58f46b9ebb922a6e9002c714');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>

</html>
