<html>
  <head>
    <meta charset="utf-8">
    <title>Buffalo - Golangflow</title>
    <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.1.0/dist/mini-default.min.css">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
  </head>
  <body>

  <header class="sticky">
    <a href="#" class="logo">GolangFlow</a> <button onclick="location.href='/posts/new'" class="fa fa-plus" aria-hidden="true"> Submit</button> <button class="fa fa-twitter" onclick="location.href='https://twitter.com/golangflow'" aria-hidden="true"> Twitter</button><button onclick="location.href='/auth/github'" class="fa fa-github" aria-hidden="true"> Login</button>
  </header>
    <div class="container">
      <%= partial("flash.html") %>
      <center>
      <div class="card fluid">
        <div class="section">
          <h3>Golang Community Linklog</h3>
          <p>Made a library? Written a blog post? Found a useful tutorial? Share it with the Golang community here or just enjoy what everyone else has found!</p>
        </div>
      </div>
      </center>
    <br />
      <br />

      <%= yield %>
    </div>
  <footer>
    <p>&copy; 2017 Brian Scott | <a href="http://gobuffalo.io/">Powered by Buffalo</a>
  </footer>

    <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '58f46b9ebb922a6e9002c714');
          t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
          t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
      })();
  </script>
  <script src="https://unpkg.com/vue@2.3.3"></script>
  </body>
</html>
