
    <%= for (post) in posts { %>
    <div class="avatar"></div>
    <div class="post-Content">
    <div class="row">
        <div class="media">
            <div class="media-left media-middle">
                    <img src="<%= getAvatar(post.ID) %>" class="img-circle" class="media-object">
            </div>  
        
             <div class="media-body">
                 <h2 class="media-heading"><a href="<%= postPath({ post_id: post.ID }) %>"><%= post.Title %></a></h2>
                 <div id="content-preview">
                    <%= markdown(post.Content) %>
                </div>
                <a href="" class="fa fa-github"> <%= getUser(post.ID) %></a>
             </div>
             </div>

             <br />
             <br />
        </div>   
    <% } %>




